---
import { Icon } from 'astro-icon/components'

interface ServicePack {
  title: string;
  price: string;
  features: string[];
  buttonText: string;
  isPopular: boolean;
}

const { servicePacks, title } = Astro.props;
---
<section class=" text-neutral py-12 sm:px-24">
    <h2 class="text-4xl font-bold text-center text-accent mb-8">{title}</h2>
    <div class="flex flex-col lg:flex-row  justify-center items-center space-y-6 lg:space-y-0 ">
      {servicePacks.map((pack: ServicePack) => (
        <div class={`relative flex flex-col items-center text-center  p-8 rounded-lg shadow-lg transition-transform duration-300 w-full max-w-sm 
          ${pack.isPopular ? 'scale-105 hover:scale-110 z-10 border-4 border-accent shadow-xl' : 'bg-dark-gray'} 
          ${pack.isPopular ? 'bg-dark-gray border-gradient-to-r from-blue-500 to-blue-600' : 'bg-dark-gray'}`}>
  
          {/* Badge "Plus Populaire" */}
          {pack.isPopular && (
            <span class="absolute top-0 -translate-y-1/2 bg-accent text-white text-xs font-semibold py-1 px-3 rounded-full">
              Plus Populaire
            </span>
          )}
  
          {/* Titre et Prix */}
          <h3 class="text-2xl font-bold text-accent mb-2">{pack.title}</h3>
          <p class="text-4xl font-bold text-neutral mb-4">{pack.price}</p>
  
          {/* Liste des fonctionnalités avec icône */}
          <ul class="text-light-gray text-left space-y-2 mb-6">
            {pack.features.map(feature => (
              <li class="flex items-center">
                <Icon name="mdi:checkbox-multiple-marked-circle-outline" 
                class=`${pack.isPopular ? 'text-accent' : 'text-neutral' } mr-2  text-xl `
                />
                {feature}
              </li>
            ))}
          </ul>
  
          {/* Bouton avec icône */}
          <button class="flex items-center justify-center bg-gradient-to-r from-blue-500 to-blue-600 text-white font-semibold py-2 px-6 rounded-full shadow-lg transform transition hover:scale-105">
            <Icon name="mdi:arrow-right" class="mr-2 text-lg" /> 
            {pack.buttonText}
          </button>
        </div>
      ))}
    </div>
  </section>
  