---
import Badge from '../atoms/Badge.astro';
import Card from '../atoms/Card.astro';

interface Props {
  title: string;
  description: string;
  cardData: { icon: string; title: string; description: string }[];
  className?: string;
  cardClassName?: string;

}

const { title = 'title', description = 'description', cardData } = Astro.props;
---

<section class="sm:min-h-screen bg-primary text-neutral p-12 sm:px-24 space-y-8">
  <!-- Ligne 1 : Badge, Titre et Description en deux colonnes -->
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
    <!-- Colonne 1 : Badge et Titre -->
    <div class="gap-4">
      <!-- Conteneur du Badge, sans `flex flex-col` -->
      <Badge title="Expertise. Stratégie. Succès." variant="dark-gray" />
    
      <!-- Conteneur pour le titre et le paragraphe -->
      <div class="flex flex-col">
        <h2 class="text-3xl font-bold text-accent">{title}</h2>
      </div>
    </div>
    
    <!-- Colonne 2 : Description -->
    <div>
      <p class="text-lg">{description}</p>
    </div>
  </div>


  <!-- Ligne 2 : Section des Cartes -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
    {cardData.map((card, index) => (
      <Card
        key={index}
        icon={card.icon}
        title={card.title}
        description={card.description}
        className="p-6 bg-dark-gray rounded-lg shadow-md hover:shadow-lg transition-shadow"
      />
    ))}
  </div>
</section>
